.main-backgroundColor{
    background-color: #f44336;
}

.main-backgroundColorLevel2{
    background-color: #ffaea2;
}
.main-backgroundColorLevel3{
    background-color:#314458 ;
}
.main-backgroundColorLevel4{
    background-color: #f0f2f5;
}

.themeColor{

}

.color-danger{
    color: #F56C6C;
}
.color-success{
    color: #67C23A;
}

.inactiveWord{
    color: #909399;
}

.activeWord{
    color: #ffffff;
}